@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables / tokens */
:root {
  --bg: 0 0% 100%;
  --fg: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --accent: 160 84% 39%;
  --border: 214.3 31.8% 91.4%;
}

html,
body {
  height: 100%;
}
